// Additional map of colors to add to Bootstrap
$custom-colors: (
    "yellow-green": $yellow-green,
    "gray": $gray-200,
    "gray-150": $gray-150,
);

// Merge with Bootstrap's colors
$theme-colors: map-merge($theme-colors, $custom-colors);


// Additional border width properties
$custom-border-widths: (
    "1point5": 1.5px
);

// Merge with Bootstrap's border widths
$border-widths: map-merge($border-widths, $custom-border-widths);


// Additional breakpoint properties
$custom-breakpoints: (
    sm_md: 672px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-breakpoints);