@import 'bootstrap/scss/functions';


@import './variables';


@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';


@import './map-amends';


@import 'bootstrap/scss/bootstrap.scss';



// --------------- CUSTOM STYLES -----------------------
  

// Custom background styles
.bg-gradient {
    background: $gradient;
}

.bg-white {
    background: #FFF
}

.bg-almost-white {
    background: $almost-white;
}

// Extra padding for body to adjust for fixed header
body {
    padding-top: 5.125rem;
}

// Heading line height styles
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.5;
}





/* ------------------- NAVBAR -------------------- */

// Navbar toggler styles
.navbar-toggler:hover, .navbar-toggler:focus-visible {
    background-color: $gray-100;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler:focus-visible {
    // outline: green solid 2px;
    box-shadow: none;
    outline: $gray-500 solid 2px;
    outline-offset: 5px;
}





/* ------------------ BUTTONS ------------------- */

// Custom button focus-visible state styling
@each $colorName, $color in $theme-colors {
    .btn-#{$colorName}:focus-visible, .btn-outline-#{$colorName}:focus-visible {
        outline: shade-color($color, 20%) solid $btn-focus-width;
        outline-offset: .3125rem;
        box-shadow: none;
    }
}

// Special override styling for icon Buttons

.btn.icon-button {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.btn.btn-light.icon-button:hover, .btn.btn-light.icon-button:focus-visible {
    background-color: $gray-100;
    border-color: $gray-100;
    outline-color: $gray;
}

.btn.btn-light.icon-button:active {
    background-color: $gray-150;
    border-color: $gray-150;
}

.icon-button.fill-white svg {
    fill: white;
}

.icon-button.fill-dark svg {
    fill: $blue-900;
}

.show-menu-icon span {
    background-image: url('/icons/menu.svg') !important;
}

.show-close-icon span {
    background-image: url('/icons/close.svg') !important;
}





/* ------------------ FORMS ------------------- */

.form-control:focus, .form-control:focus-visible {
    outline: $primary solid $btn-focus-width;
    outline-offset: .3125rem;
    box-shadow: none;
}

// Fix password field dots
input[type="password"]:not(:placeholder-shown) {
    font-family: sans-serif;
    letter-spacing: .125rem;
}




/* ----------------- TYPOGRAPHY ----------------- */

/* -- Links -- */

a {
    font-weight: 500;
    transition: color .15s ease-in-out
}




/* -------------------- MODALS ------------------- */

/* Adjusting spacing */

.modal-content {
    padding: 3.125rem;
    box-shadow: 1.5px 2px 4px 0px #09B473;
}

.modal-header {
    margin-bottom: 1.875rem;
}

/* Modal Close Button */

// .modal-header .btn-close:hover, .modal-header .btn-close:focus-visible, .modal-header .btn-close:focus {
//     background-color: $gray-100;
//     border-color: $gray-100;
//     outline-color: $gray;
//     box-shadow: none;
// }

// .modal-header .btn-close:active {
//     background-color: $gray-150;
//     border-color: $gray-150;
// }

// Navbar toggler styles
.modal-header .btn-close:hover, .modal-header .btn-close:focus-visible, .modal-header .btn-close:focus {
    background-color: $gray-100;
}
.modal-header .btn-close:focus {
    box-shadow: none;
}
.modal-header .btn-close:focus-visible {
    // outline: green solid 2px;
    box-shadow: none;
    outline: $gray-500 solid 2px;
    outline-offset: 5px;
}

// FIX for modal not centered issue
div[role="dialog"].modal {
    padding-right: 0 !important;
}


