@import 'bootstrap/scss/functions';


@import './variables';


@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';


@import './map-amends';


@import 'bootstrap/scss/bootstrap.scss';



// --------------- CUSTOM STYLES -----------------------
  

// Custom background styles
.bg-gradient {
    background: $gradient;
}

.bg-white {
    background: #FFF
}

.bg-almost-white {
    background: $almost-white;
}

// Extra padding for body to adjust for fixed header
body:has(.app-header) {
    padding-top: 5.125rem;
}

// Heading line height styles
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.5;
}





/* ------------------- NAVBAR -------------------- */

// Navbar padding. Adjusting it based on screen width

@media (min-width: 576px) {
    .navbar:has(.navbar-brand) {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
}


// Nav bar link (Log in link) style
.navbar-link:hover, .navbar-link:focus, .navbar-link:focus-visible, .navbar-link:active {
    text-decoration: underline 2px;
    text-underline-offset: 2px;
}
.navbar-link:focus-visible {
    outline-color: $primary;
}



// Navbar toggler styles
.navbar-toggler:hover, .navbar-toggler:focus-visible {
    background-color: $gray-100;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler:focus-visible {
    // outline: green solid 2px;
    box-shadow: none;
    outline: $gray-500 solid 2px;
    outline-offset: 5px;
}

.show-menu-icon span {
    background-image: url('/icons/menu.svg') !important;
}

.show-close-icon span {
    background-image: url('/icons/close.svg') !important;
}


  /* --- Navbar Profile Picture --- */

.profile-picture > img.profile-circle {
    margin-left: auto;
    display: block;
    transition: filter 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profile-picture > div.profile-circle {
    margin-left: auto;
    display: block;
    transition: box-shadow 0.15s ease-in-out;
}


.profile-picture:focus-visible {
    outline: 0.125rem solid $blue-900;
    outline-offset: 0.125rem;
    border-radius: .4375rem;
}

.profile-picture:hover, .profile-picture:focus-visible, .profile-picture:focus {
    color: initial;
    & > img {
        filter: brightness(0.9);
        box-shadow: gray 0 2px 5px 0px;
    }
    & > div {
        box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.1), gray 0 2px 5px 0px;
    }
}





/* ------------------ BUTTONS ------------------- */

// Custom button focus-visible state styling
@each $colorName, $color in $theme-colors {
    .btn-#{$colorName}:focus-visible, .btn-outline-#{$colorName}:focus-visible {
        outline: shade-color($color, 20%) solid $btn-focus-width;
        outline-offset: .3125rem;
        box-shadow: none;
    }
}

.btn.btn-sm {
    line-height: 1;
}

// Special styling for icon Buttons

.btn.icon-button {
    line-height: 1;
}

.btn.icon-button-size-md {
    padding: 0.1875rem;
}

.btn.icon-button-size-sm {
    padding: 0.375rem;
}

.btn.btn-light.icon-button:hover, .btn.btn-light.icon-button:focus-visible {
    background-color: $gray-100;
    border-color: $gray-100;
    outline-color: $gray;
}

.btn.btn-light.icon-button:active {
    background-color: $gray-150;
    border-color: $gray-150;
}

// For btn-light and danger classes combined
.btn.btn-light.danger.icon-button {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, 
                border-color .15s ease-in-out, box-shadow .15s ease-in-out,
                filter .15s ease-in-out;
}
.btn.btn-light.danger.icon-button:hover, .btn.btn-light.danger.icon-button:focus-visible {
    background-color: $danger;
    border-color: $danger;
    outline-color: shade-color($danger, 20%);
    & img {
        filter: brightness(0%) invert(1)
    }
}
.btn.btn-light.danger.icon-button:active {
    background-color: shade-color($danger, 20%);
    border-color: shade-color($danger, 20%);
    & img {
        filter: brightness(0%) invert(1)
    }
}

.icon-button.fill-white img {
    filter: brightness(0%) invert(1)
}


/* Google authentication button */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    user-select: none;
    appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 1rem;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #f2f2f2b0;
}

.gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
}
  





/* ------------------ FORMS ------------------- */

.form-control:focus, .form-control:focus-visible {
    outline: $primary solid $btn-focus-width;
    outline-offset: .3125rem;
    box-shadow: none;
}

form > div:has(input) {
    line-height: 1;
}

// Fix password field dots
input[type="password"]:not(:placeholder-shown) {
    font-family: sans-serif;
    letter-spacing: .125rem;
    font-weight: 400;
}

// Change font weight when placeholder isn't how
input[type="text"]:not(:placeholder-shown) {
    font-weight: 400;
}

// Form invalid field styles
.form-control.is-invalid {
    border-width: 2px;
    &:focus, &:focus-visible {
        outline-color: tint-color($danger, 40%);
        box-shadow: none;
    }
}

.invalid-feedback {
    font-weight: $font-weight-semibold;
    &:not(:has(+p.forgot-password)) {
        margin-bottom: -0.625rem;
    }
}




/* ----------------- TYPOGRAPHY ----------------- */

/* -- Links -- */

a {
    font-weight: 500;
    transition: color .15s ease-in-out
}




/* -------------------- MODALS ------------------- */

/* Adjusting spacing */

.modal-content {
    padding: 3.125rem 2.1875rem;
    box-shadow: 1.5px 2px 4px 0px #09B473;
}

@media (min-width: 576px) {
    .modal-content {
        padding: 3.125rem;
    }
}

.modal-header {
    margin-bottom: 1.875rem;
}



/* Modal Close Button */

// modal close button toggler styles
.modal-header .btn-close:hover, .modal-header .btn-close:focus-visible, .modal-header .btn-close:focus {
    background-color: $gray-100;
}
.modal-header .btn-close:focus {
    box-shadow: none;
}
.modal-header .btn-close:focus-visible {
    // outline: green solid 2px;
    box-shadow: none;
    outline: $gray-500 solid 2px;
    outline-offset: 5px;
}

// FIX for modal not centered issue
div[role="dialog"].modal {
    padding-right: 0 !important;
}

// Class styling for when the success message is shown on a modal
.modal-disabled {
    & .modal-header, & .modal-body > .vstack {
        opacity: .15;
        pointer-events: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
.modal-content .modal-header, .modal-content .modal-body > .vstack { // Add transitions for opacity
    transition: opacity .15s ease-in-out;
}

.modal-success-message {
    position: absolute;
    width: 100%; 
    top: 35%;
    z-index: 2;
    transition: opacity .15s ease-in-out;
    &.show {
        opacity: 1;
        display: block;
    }
    &.hide {
        opacity: 0;
        display: none;
    }

    & > * {
        margin: 0 auto;
    }
    & h2, & p {
        text-align: center;
    }
}





/* ------------------- DROPDOWNS ------------------- */

.dropdown-menu {
    max-width: 17.5rem;
}

.dropdown-menu > .dropdown-item {
    border-radius: 0.4375rem;

    &.danger-item {
        color: $danger;
        font-weight: $font-weight-medium;
        &:hover, &:focus, &:active, &.active {
            background-color: $white;
            border: solid 2px $danger;
            padding: 0.125rem .5rem;
        }
    }
}

.dropdown-menu > p {
    padding: 0.1875rem 0.625rem;
    word-wrap: break-word;
}





/* ------------------- ALERTS ------------------- */

.alert {
    background-color: white;
    color: $body-color;
    font-weight: $font-weight-medium;

    & .h4 {
        line-height: 1;
        padding-bottom: $spacer;
    }
    & .btn-close {
        padding: 0.75rem;
        margin: 0.5rem;
        transition: background-color .15s ease-in-out;
    }
}

.alert-dismissible {
    padding-right: $spacer * 2;
}

.alert-danger {
    border-color: $danger;
    & .h4 {
        color: $danger;
    }
}

.alert-danger .btn-close {    
    &:hover, &:focus-visible, &:focus {
        background-color: tint-color($danger, 80%);
    }
    &:focus {
        box-shadow: none;
    }
    &:focus-visible {
        box-shadow: none;
        outline: tint-color($danger, 40%) solid 2px;
        outline-offset: 5px;
    }
    &:active {
        background-color: tint-color($danger, 60%);
    }
}

.alert-success {
    border-color: $success;
    & .h4 {
        color: $success;
    }
}

.alert-success .btn-close {    
    &:hover, &:focus-visible, &:focus {
        background-color: tint-color($success, 80%);
    }
    &:focus {
        box-shadow: none;
    }
    &:focus-visible {
        box-shadow: none;
        outline: tint-color($success, 40%) solid 2px;
        outline-offset: 5px;
    }
    &:active {
        background-color: tint-color($success, 60%);
    }
}





/* ------------------- LINKS --------------------- */

a {
    transition: color .15s ease-in-out, outline .15s ease-in-out;
}

a:focus:not([role="button"]), a:focus-visible:not([role="button"]) {
    color: $green;
}

a:focus-visible:not([role="button"]) {
    outline-color: $green;
}

a:active:not([role="button"]) {
    color: shade-color($green, 20%);
}

a.blue-link:hover, a.blue-link:focus, a.blue-link:focus-visible, a.blue-link:active {
    color: $primary;
}

a.blue-link:focus-visible {
    outline-color: $primary;
}





/* ------------------- CSS Spinner ------------------- */

.loader {
    margin: 0px auto;
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, white 94%,#0000) top/5px 5px no-repeat,
      conic-gradient(#0000 30%, white);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: l13 1s infinite linear;
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{ 
    100%{transform: rotate(1turn)}
}

.loader-gray {
    margin: 0px auto;
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, #555 94%,#0000) top/5px 5px no-repeat,
      conic-gradient(#0000 30%, #555);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: l13 1s infinite linear;
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{ 
    100%{transform: rotate(1turn)}
}


.loader-dots {
    width: 60px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(circle closest-side,#001521 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
.loader-dots-primary {
    width: 60px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(circle closest-side, #0069A7 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}




/* -------------------- NON-BOOTSTRAP-RELATED MISCELLANEOUS ---------------------- */

// Top level containers of pages
.topLevelContainer {
    padding: 1.875rem 1.5625rem;
}

@media (min-width: 576px) {
    .topLevelContainer {
        padding: 3.75rem 3.125rem;
    }
}


// Account page profile picture edit section custom breakpoint styles

.profilePictureRow1 {
    display: none;
}
.profilePictureRow2 {
    display: flex;
}

@media (min-width: 475px) {
    .profilePictureRow1 {
        display: flex;
    }
    .profilePictureRow2 {
        display: none;
    }
}





/* ----- HR Tag ----- */
hr {
    border: 1;
    border-top: 1.5px $gray-150 solid;
    margin: 0;
    opacity: 1;
}


/* ----- Back button ----- */

.back-button {

    & > img {
        transition: filter .15s ease-in-out;
    }

    &:hover > img, &:focus-visible > img, &:focus > img {
        filter: brightness(0) saturate(100%) invert(65%) sepia(67%) saturate(4521%) hue-rotate(120deg) brightness(91%) contrast(93%);
    }
    
    &:active > img {
        filter: brightness(0) saturate(100%) invert(42%) sepia(65%) saturate(6603%) hue-rotate(146deg) brightness(93%) contrast(94%);
    }
}


/* ------- Slider -------- */

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: $gray-150;
    height: 10px;
    -webkit-transition: .15s;
    transition: background .15s;

    &:hover {
        background: $gray-200;
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: $primary;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: $primary;
    cursor: pointer;
  }





