@import 'bootstrap/scss/functions';


@import './variables';


@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';


@import './map-amends';


@import 'bootstrap/scss/bootstrap.scss';



// --------------- CUSTOM STYLES -----------------------
  

// Custom background styles
.bg-gradient {
    background: $gradient;
}

.bg-white {
    background: #FFF
}

.bg-almost-white {
    background: $almost-white;
}

// Extra padding for body to adjust for fixed header
body:has(.app-header) {
    padding-top: 5.125rem;
}

// Heading line height styles
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.5;
}





/* ------------------- NAVBAR -------------------- */

// Navbar toggler styles
.navbar-toggler:hover, .navbar-toggler:focus-visible {
    background-color: $gray-100;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler:focus-visible {
    // outline: green solid 2px;
    box-shadow: none;
    outline: $gray-500 solid 2px;
    outline-offset: 5px;
}

.show-menu-icon span {
    background-image: url('/icons/menu.svg') !important;
}

.show-close-icon span {
    background-image: url('/icons/close.svg') !important;
}





/* ------------------ BUTTONS ------------------- */

// Custom button focus-visible state styling
@each $colorName, $color in $theme-colors {
    .btn-#{$colorName}:focus-visible, .btn-outline-#{$colorName}:focus-visible {
        outline: shade-color($color, 20%) solid $btn-focus-width;
        outline-offset: .3125rem;
        box-shadow: none;
    }
}

// Special styling for icon Buttons

.btn.icon-button {
    padding: 0.1875rem;
}

.btn.btn-light.icon-button:hover, .btn.btn-light.icon-button:focus-visible {
    background-color: $gray-100;
    border-color: $gray-100;
    outline-color: $gray;
}

.btn.btn-light.icon-button:active {
    background-color: $gray-150;
    border-color: $gray-150;
}

// For btn-light and danger classes combined
.btn.btn-light.danger.icon-button {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, 
                border-color .15s ease-in-out, box-shadow .15s ease-in-out,
                filter .15s ease-in-out;
}
.btn.btn-light.danger.icon-button:hover, .btn.btn-light.danger.icon-button:focus-visible {
    background-color: $danger;
    border-color: $danger;
    outline-color: shade-color($danger, 20%);
    & img {
        filter: brightness(0%) invert(1)
    }
}
.btn.btn-light.danger.icon-button:active {
    background-color: shade-color($danger, 20%);
    border-color: shade-color($danger, 20%);
    & img {
        filter: brightness(0%) invert(1)
    }
}

.icon-button.fill-white img {
    filter: brightness(0%) invert(1)
}





/* ------------------ FORMS ------------------- */

.form-control:focus, .form-control:focus-visible {
    outline: $primary solid $btn-focus-width;
    outline-offset: .3125rem;
    box-shadow: none;
}

// Fix password field dots
input[type="password"]:not(:placeholder-shown) {
    font-family: sans-serif;
    letter-spacing: .125rem;
    font-weight: 400;
}

// Change font weight when placeholder isn't how
input[type="text"]:not(:placeholder-shown) {
    font-weight: 400;
}

// Form invalid field styles
.form-control.is-invalid {
    border-width: 2px;
    &:focus, &:focus-visible {
        outline-color: tint-color($danger, 40%);
        box-shadow: none;
    }
}

.invalid-feedback {
    font-weight: $font-weight-semibold;
}




/* ----------------- TYPOGRAPHY ----------------- */

/* -- Links -- */

a {
    font-weight: 500;
    transition: color .15s ease-in-out
}




/* -------------------- MODALS ------------------- */

/* Adjusting spacing */

.modal-content {
    padding: 3.125rem;
    box-shadow: 1.5px 2px 4px 0px #09B473;
}

.modal-header {
    margin-bottom: 1.875rem;
}

/* Modal Close Button */

// modal close button toggler styles
.modal-header .btn-close:hover, .modal-header .btn-close:focus-visible, .modal-header .btn-close:focus {
    background-color: $gray-100;
}
.modal-header .btn-close:focus {
    box-shadow: none;
}
.modal-header .btn-close:focus-visible {
    // outline: green solid 2px;
    box-shadow: none;
    outline: $gray-500 solid 2px;
    outline-offset: 5px;
}

// FIX for modal not centered issue
div[role="dialog"].modal {
    padding-right: 0 !important;
}

// Class styling for when the success message is shown on a modal
.modal-disabled {
    & .modal-header, & .modal-body > .vstack {
        opacity: .15;
        pointer-events: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
.modal-content .modal-header, .modal-content .modal-body > .vstack { // Add transitions for opacity
    transition: opacity .15s ease-in-out;
}

.modal-success-message {
    position: absolute;
    width: 100%; 
    top: 35%;
    z-index: 2;
    transition: opacity .15s ease-in-out;
    &.show {
        opacity: 1;
        display: block;
    }
    &.hide {
        opacity: 0;
        display: none;
    }

    & > * {
        margin: 0 auto;
    }
    & h2, & p {
        text-align: center;
    }
}





/* ------------------- DROPDOWNS ------------------- */

.dropdown-menu {
    max-width: 17.5rem;
}

.dropdown-menu > a {
    border-radius: 0.4375rem;

    &.danger-item {
        color: $danger;
        font-weight: $font-weight-medium;
        &:hover, &:focus, &:active, &.active {
            background-color: $white;
            border: solid 2px $danger;
            padding: 0.125rem .5rem;
        }
    }
}

.dropdown-menu > p {
    padding: 0.1875rem 0.625rem;
    word-wrap: break-word;
}





/* ------------------- ALERTS ------------------- */

.alert {
    background-color: white;
    color: $body-color;
    font-weight: $font-weight-medium;

    & .h4 {
        line-height: 1;
        padding-bottom: $spacer;
    }
    & .btn-close {
        padding: 0.75rem;
        margin: 0.5rem;
        transition: background-color .15s ease-in-out;
    }
}

.alert-dismissible {
    padding-right: $spacer * 2;
}

.alert-danger {
    border-color: $danger;
    & .h4 {
        color: $danger;
    }
}

.alert-danger .btn-close {    
    &:hover, &:focus-visible, &:focus {
        background-color: tint-color($danger, 80%);
    }
    &:focus {
        box-shadow: none;
    }
    &:focus-visible {
        box-shadow: none;
        outline: tint-color($danger, 40%) solid 2px;
        outline-offset: 5px;
    }
    &:active {
        background-color: tint-color($danger, 60%);
    }
}

.alert-success {
    border-color: $success;
    & .h4 {
        color: $success;
    }
}

.alert-success .btn-close {    
    &:hover, &:focus-visible, &:focus {
        background-color: tint-color($success, 80%);
    }
    &:focus {
        box-shadow: none;
    }
    &:focus-visible {
        box-shadow: none;
        outline: tint-color($success, 40%) solid 2px;
        outline-offset: 5px;
    }
    &:active {
        background-color: tint-color($success, 60%);
    }
}




/* ------------------- CSS Spinner ------------------- */

.loader {
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, white 94%,#0000) top/5px 5px no-repeat,
      conic-gradient(#0000 30%, white);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: l13 1s infinite linear;
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }


.loader-dots {
    width: 60px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(circle closest-side,#001521 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }






  /* ------------------- Navbar Profile Picture ------------------- */

.profile-picture > img {
    height: $spacer * 4;
    width: $spacer * 4;
    margin-left: auto;
    display: block;
}

.profile-picture > div {
    height: $spacer * 4;
    width: $spacer * 4;
    margin-left: auto;
    display: block;
    & > span {
        font-size: 1.5rem;
        font-weight: $font-weight-medium;
    }
}

.profile-picture:focus-visible {
    outline: 0.125rem solid $blue-900;
    outline-offset: 0.125rem;
    border-radius: .4375rem;
}

.profile-picture:hover, .profile-picture:focus-visible, .profile-picture:focus {
    color: initial;
    & > img {
        filter: brightness(0.9);
    }
}






