
// ----------------- COLORS ----------------------

// Override Colors
$blue: #0069A7;
$green: #09B473;
$yellow: #DABF00;
$red: #C11C00;

// New Colors
$gray: #808080;
$yellow-green: #4FB84C;
$green-yellow: #95BD26;
$very-light-blue: #F2F5F7;
$almost-white: #F6F8F9;
$gradient: linear-gradient(to right, #FFFFFF, #F9FAFB);


// Override Blues.
$blue-900: shade-color($blue, 80%);
$blue-600: shade-color($blue, 20%);

// Override Greens.
$green-200: tint-color($green, 60%);
$green-300: tint-color($green, 40%);
$green-500: $green;

// Create necessary yellow greens
$yellow-green-200: tint-color($yellow-green, 60%);
$yellow-green-300: tint-color($yellow-green, 40%);
$yellow-green-400: tint-color($yellow-green, 20%);
$yellow-green-500: $yellow-green;

// Create necessary green yellows
$green-yellow-200: tint-color($green-yellow, 60%);
$green-yellow-300: tint-color($green-yellow, 40%);
$green-yellow-400: tint-color($green-yellow, 20%);
$green-yellow-500: $green-yellow;

// Override Grays
$white:    #fff;
$gray-100: tint-color($gray, 80%);
$gray-150: tint-color($gray, 70%);
$gray-200: tint-color($gray, 60%);
$gray-250: tint-color($gray, 50%);
$gray-300: tint-color($gray, 40%);
$gray-400: tint-color($gray, 20%);
$gray-500: $gray;
$gray-600: shade-color($gray, 20%);
$gray-700: shade-color($gray, 40%);
$gray-800: shade-color($gray, 60%);
$gray-900: shade-color($gray, 80%);
$black:    #000;

// Set theme color variables
$primary: $blue;
$secondary: $green-300;
$light: #FFFFFF00;





// ------------------- TYPOGRAPHY --------------------

// Customize font family
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-base: "Montserrat", sans-serif;

// Change line height
$line-height-base: 1.75;

// Variable for base font size
$font-size-base: 1rem;

// Heading font sizes
$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base * 0.875;
$h6-font-size:                $font-size-base;

// Define weights
$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

// Change body color
$body-color: $blue-900;

// Heading font weight
$headings-font-weight: $font-weight-semibold;

// Heading & Paragraph margin bottom
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;






/* --------------------- SPACING --------------------- */

$spacer: 0.625rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20: $spacer * 2,
  25: $spacer * 2.5,
  40: $spacer * 4,
  50: $spacer * 5,
  80: $spacer * 8,
  100: $spacer * 10,
);



// ----------------- BUTTONS --------------------

// Custom button settings
$input-btn-padding-y: 0.25rem;
$input-btn-padding-x: 1.4375rem;
$input-btn-border-width: 2px;

$btn-font-weight: $font-weight-semibold;

$btn-hover-bg-shade-amount: 20%;
$btn-hover-bg-tint-amount: 20%;
$btn-hover-border-shade-amount:   25%;
$btn-hover-border-tint-amount:    15%;
$btn-active-bg-shade-amount:      25%;
$btn-active-bg-tint-amount:       25%;
$btn-active-border-shade-amount:  30%;
$btn-active-border-tint-amount:   15%;

$btn-focus-width: .125em;

$input-btn-focus-box-shadow: 0 0 0 .125rem $primary;






/* ------------------- NAV BAR --------------------- */

// Navbar padding
$navbar-padding-y: $spacer * 1.5;
$navbar-padding-x: $spacer * 5;

// Navbar logo padding
$navbar-brand-padding-y: 0;

// Navbar links padding
$navbar-nav-link-padding-x: 0rem;
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;

// Navbar burger menu icon (toggler)

$navbar-toggler-padding-y: $spacer * .5;
$navbar-toggler-padding-x: $spacer * .5;
$navbar-toggler-transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;
$navbar-light-icon-color: $body-color;

$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;





/* ------------- BORDER STYLES --------------- */

// Change default border color
$border-color: $gray-250;

// Change border radius values
$border-radius: 0.4375rem;





/* ----------------- FORM STYLES ------------------- */

// background
$input-bg: $white;

// border
$input-border-width:  1px;

// Input padding
$input-padding-x: $spacer * 2;
$input-padding-y: 0.625rem;

// Form label margin bottom
$form-label-margin-bottom: 0.3125rem;

// font weight
$input-font-weight: $font-weight-light;

// Focus styling
$input-focus-border-color: $gray;




/* -------------- MISCELLANEOUS ----------------  */

// Change the background color of the body
$body-bg: $very-light-blue;

// Change box shadow used for focus states
// $focus-ring-box-shadow: none;
